/* Styles for upper banner */
.banner {
  background-color:#8ab4f7;
  width:auto;
  height:200px;
  border: 2px solid #000000;
  position:fixed;
}

#banner_text {
  text-align:right;
  font-family:Arial,sans-serif;
  font-size:30px;
  color:white;
  position:fixed;
}

#banner_image {
  text-align:left;
  position:fixed;
}

/* Styles for gaps */
.below_banner {
  background-color:#ffffff;
  width:auto;
  height:5px;
  position:fixed;
}

.beside_sidebar {
  background-color:#ffffff;
  height:500px;
  width:5px;
  /*float:left;*/
  position:fixed;
}

/* Styles for left sidebar */
.sidebar {
  background-color:#8ab4f7;
  height:500px;
  width:300px;
  border: 2px solid #000000;
  /*float: left;*/
  position:fixed;
}

.sidebar_title {
  text-align:center;
  position:fixed;
}

/* Styles for pages content */
.index_content {
  float: left;
  border: 2px solid #000000;
  height:500px;
  width:auto;
}

.design_content {
  float: left;
  border: 2px solid #000000;
  height:500px;
  width:auto;
}
