/* Styles for upper banner */
.banner {
  background-color:#8ab4f7;
  width:auto;
  height:200px;
  border: 2px solid #000000;
}

#banner_text {
  text-align:right;
  font-family:Arial,sans-serif;
  font-size:30px;
  color:white;
}

#banner_image {
  text-align:left;
}

/* Styles for below banner gap */
.below_banner {
  background-color:#ffffff;
  width:auto;
  height:10px;
}

/* Styles for left sidebar */
.sidebar {
  background-color:#8ab4f7;
  height:200px;
  width:300px;
  border: 2px solid #000000;
}
