.banner {
  background-color:red;
  width:auto;
  height:50px;
  margin:auto;
  border-radius: 5px;
  border 2px solid black;
}

#banner_text {
  font-family:Arial,sans-serif;
  color:blue;
  margin-left:2px;
}
